*:focus, *:active {
    outline: none; 
}
.tef1{
    display: flex;
    flex-direction: row;
}
.tef1 button{
    padding: 2px; 

    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    width: auto;
    background-color: transparent;
}
.tef1 button:hover{
    cursor:pointer
}
.tef1 button:hover svg{
    fill: #008a93;
}
.tef1 button svg{
    width: 24px;
    height: 24px;    
    object-fit: contain;
}

.text-editor-content{
    height: 60vh;
    width: 50vw;
    background-color: antiquewhite;
    border: 1px solid #000000 !important;
}